h1{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px ;
}

img{
    border-radius: 10px;
    width: 300px;
    max-width: 300px;
}

th, td{
    text-align: center;
    vertical-align: middle;
}


button{
    margin: 10px;
    width: 100px;
}

.button-contain{
    display: inline block;
}
.btn-add{
    margin: 0px 0px 32px 0;
}
.page-container{
    text-align: center;
}

.page{
    display: inline-block;
}

.search{
    padding-top: 20px;
    display: flex;
}