<div class="container-fluid">
  
    <h1>Book Management System</h1>
    
    <div class="row">
      <div class="col col-md-2">
        <button  (click)= "goToAddBook()" type="button" class="btn-add btn btn-primary">Add Book</button>
      </div>

      <div class="col col-md-5">
        <h5>Search Books Category:</h5>
              <ng-select [items]="categories"
                  bindLabel="title"
                  [virtualScroll]="true"
                  bindValue="id"
                  appendTo="body"
                  placeholder="Select Category"
                  (change)="onChange($event)"
                  formControlName="category" >
              </ng-select>
      </div>

      <div class="col col-md-5">

          <h5 style="display: inline;">Search Books Here:</h5>
          <div class="search">
            <input class="form-control mr-sm-2"  placeholder="Search books here" aria-label="Search" (input)="onTitleChange($event)">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </div>
          
      </div>
    </div>
    
    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Thumbnail</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books | paginate: { itemsPerPage: 3, currentPage: p }">
            <th scope="row">{{book.id}}</th>
            <td>
                {{book.title}}
            </td>
            <td><img src={{book.thumbnail}} alt=""></td>
            <td class="button-contain">
                <button (click)= "goToBookDetail(book.id)" type="button" class="btn btn-primary">View</button>
                <button (click)= "goToEditBook(book.id)" type="button" class="btn btn-warning">Edit</button>
                <button (click)= "deleteBook(book.id)" type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="page-container">
        <div class="page">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      </div>
</div>