<div class="container-fluid">
  <h1>Category Information</h1>

  <div class="container">
    <div class="row">
      <div class="col left-side col-md-5">
        <form [formGroup] ="myForm" (ngSubmit) = 'submit()'>
          <label> Category Title: </label>
          <div class="col input">
            <input formControlName="title" type="text" class="form-control" id="input" placeholder="Enter title" (ngModelChange)="onTitleChange($event)" [(value)] = "tit">
            <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
                <div *ngIf="title.errors.required">Name is required.</div>
                <div *ngIf="title.errors.minlength">Name should be 3 character.</div>
            </div>
          </div>

          <button class="btn btn-submit btn-primary" type="submit" [disabled]="!myForm.valid"> {{isUpdate? "Update": "Add"}} Category</button>
        </form>
      </div>

      <div class="col col-md-7">
        <label> Category List: </label>
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cate of categories | paginate: { itemsPerPage: 5, currentPage: p }">
                <th scope="row">{{cate.id}}</th>
                <td>
                    {{cate.title}}
                </td>
                <td class="button-contain">
                    <button (click)= "updateCate(cate.id, cate.title)" type="button " class="btn btn-warning btn-action">Edit</button>
                    <button (click)= "deleteCate(cate.id)" type="button" class="btn btn-danger">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="page-container">
            <div class="page">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
