h1{
    text-align: center;
    margin: 32px;
}


.input{
    padding: 0px;
    margin-bottom: 32px;
}


label{
    font-size: large;
}

.left-side{
    border-right: 2px solid gray;
    padding-right: 32px;
}

.btn-action{
    margin-right: 32px;
}

th, td{
    text-align: center;
    vertical-align: middle;
}

.page-container{
    text-align: center;
}

.page{
    display: inline-block;
}