<div class="container">
  <h1 class="header">Please Input Book Information</h1>

  <form [formGroup] ="myForm" (ngSubmit) = 'submit()'>
    <div class="row">
      <div class="col left-side">
        <img
          [src]="imageSrc ? imageSrc : defaultImage"
          style="height: 300px; width: 500px"
        />

        <div class="form-group">
          <input
            formControlName="file"
            id="file"
            type="file"
            class="form-control"
            (change)="onFileChange($event)"
          />
          <div *ngIf="file.touched && file.invalid" class="alert alert-danger">
            <div *ngIf="file.errors.required">File is required.</div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="right-side">

          <div class="row">
            <div class="col">
              <h5 class="add-title">Title:</h5>
              <input formControlName="title" type="text" class="form-control" id="input" (ngModelChange)="onTitleChange($event)">
                <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
                  <div *ngIf="title.errors.required">Title is required.</div>
                  <div *ngIf="title.errors.minlength">Title should be 3 character.</div>
                </div>
            </div>



            <div class="col">
              <h5>Category:</h5>
              <ng-select [items]="categories"
                  bindLabel="title"
                  [virtualScroll]="true"
                  bindValue="id"
                  appendTo="body"
                  placeholder="Select Category"
                  (change)="onChange($event)"
                  formControlName="category" >
              </ng-select>

              <div *ngIf="category.touched && category.invalid" class="alert alert-danger">
                <div *ngIf="category.errors.required">Category is required.</div>
              </div>
  
            </div>
          </div>
          


          <h5>Author:</h5>
          <input formControlName="author" type="text" class="form-control" id="input" (ngModelChange)="onAuthorChange($event)">
          <div *ngIf="author.touched && author.invalid" class="alert alert-danger">
            <div *ngIf="author.errors.required">Author is required.</div>
            <div *ngIf="author.errors.minlength">Author should be 3 character.</div>
          </div>


          <h5>Description:</h5>
            <div class="form-group">
                <textarea  formControlName="description" class="form-control" id="exampleFormControlTextarea1" rows="5" (ngModelChange)="onDescriptionChange($event)"></textarea>
            </div>

            <!-- <input formControlName="description" type="text" class="form-control" id="input" (ngModelChange)="onDescriptionChange($event)" [(ngModel)]= "oldBookData.description"> -->
            <div *ngIf="description.touched && description.invalid" class="alert alert-danger">
              <div *ngIf="description.errors.required">Name is required.</div>
              <div *ngIf="description.errors.minlength">Name should be 3 character.</div>
            </div>

        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">submit</button>
  </form>
</div>
