 .header{
     margin: 32px 0;
     text-align: center;
 }

 .left-side{
     border-right: 2px solid gray;
     padding-right: 32px;
     margin-bottom: 10px;
 }

img{
    width: 100%;
    border-radius: 10px;
}

#file{
    border: none;
    margin-top: 32px;
    color: blue;
}

.left-side{
    padding-right: 32px;
    border-right: 2px solid gray;
}

#input{
    margin-bottom: 8px;
}

.add-title{
    margin-bottom: 24px;
}

