h2{
    margin: 32px 0px;
}


img{
    width: 100%;
    border-right: 2px gray;
    border-radius: 10px;
}


.right{
    padding-right: 10px;
    border-right: 2px solid gray;
}

i{
    color: grey;
}

.des{
    text-decoration: underline;
}

.left{
    padding-left: 32px;
}

pre{
    display: inline-block;
}