<div class="container-fluid">
    <h2>Book Information </h2>

    <div class="row">
        <div class="col right" >
            <img src={{book.thumbnail}} alt="img">
        </div>

        <div class="col left">
            <h1 class="des">Title: <i>{{book.title}}</i></h1>
            <h1 class="des">Author: <i>{{book.author}}</i></h1>
            <h1 class="des">Category: <i>{{book.category.title}}</i> </h1>
            <h1 class="des">Description </h1>
            <i><h3>{{book.description}}</h3></i>
        </div>
    </div>
</div>